
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %> 
<%= render "layouts/header" %>



<!--Main layout-->
<main class="mt-5">
    <div class="container">

    <!--Section: Programme-->
    <section id="program" class="text-center">
    
      <!-- Heading -->
      <h2 class="mb-5">Au programme</h2>
    
      
    
      <!--Grid row-->
      <div class="row">
    
          <!--Grid column-->
          <div class="col-md-4 mb-1">
              <i class="fas fa-camera-retro fa-4x"></i>
              <h4 class="my-4 font-weight-bold">Les bases</h4>
              <p class="grey-text">Avoir un appareil c'est bien mais connaître les rudiments techniques c'est encore mieux.</p>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-md-4 mb-1">
              <i class="fas fa-heart fa-4x"></i>
              <h4 class="my-4 font-weight-bold">Famille</h4>
              <p class="grey-text">Vous avez appris à manipuler votre appareil, maintenant place à la pratique. Quoi de mieux que de prendre vos proches en photos !</p>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-md-4 mb-1">
              <i class="fas fa-bicycle fa-4x"></i>
              <h4 class="my-4 font-weight-bold">Paysage</h4>
              <p>Sortir du cadre famillial et pratqiquer la photo "sur terrain". Je vous partage mon expérience.</p>
          </div>
          <!--Grid column-->
    
      </div>
      <!--Grid row-->
    
    </section>
    <!--Section: Programme-->

        <hr class="my-5">

        <!--Section: Examples-->
<section id="examples" class="text-center">

    <!--Grid row-->
    <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
    
      <div class="view overlay zoom">
        <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
        aperiam minima
        assumenda deleniti hic.</p>
    </div>
    <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
    
        <div class="view overlay zoom">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima
          assumenda deleniti hic.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
    
        <div class="view overlay zoom">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima
          assumenda deleniti hic.</p>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Examples-->

        <hr class="my-5">

        <!--Section: Gallery-->
        <section id="gallery">



        </section>
        <!--Section: Gallery-->

        <hr class="my-5">

        <!--Section: Contact-->
        <section id="contact">



        </section>
        <!--Section: Contact-->

    </div>
</main>
<!--Main layout-->


<%= render "layouts/footer" %>
