<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title)) %></title>
    
  </head>

  <body>
  <div data-spy="scroll" data-target="#navbar-perso" data-offset="0">
  <%= yield %>
  </div>
  <script>
    $(document).ready(function() {
      $('.js-scrollTo').on('click', function() { // Au clic sur un élément
        var page = $(this).attr('href'); // Page cible
        var speed = 750; // Durée de l'animation (en ms)
        $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
        return false;
      });
    });
  </script>
  </body>
</html>
